<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
        rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
        crossorigin='anonymous'>

    <!-- Vue 3 -->
    <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>
    <!-- Vue 3: production version, optimized for size and speed -->
    <!-- <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.prod.js'></script> -->

</head>

<body>
    <!-- 1st page: Login Page (Session store Clinic ID)
    2nd Page: Doctor or CA
    Doctor Page: Dropdown Search PR & Prescribe Drug
    CA Page: Search Drug, Edit button (make Supplier info into input text and reorderQuantity), "Restock Completed" button -->
  <body>
    <div id="app" class="container">
        <h1>Prescribe Drugs</h1>
        <div class="row">
            <div id="main" class="col-8">
                <form>
                    Current Time:
                    <input type="text" v-model="time" id="time"disabled>
                    Current Date:
                    <input type="text" v-model="date" id="date" disabled><br>
                    NRIC: <input type="text" id ="nric"> <br>
                    Search by Drug Name: <input type = "drug" id="drugName" placeholder="Drug Name">
                    <button type="button"
                        class="my-1 btn btn-sm btn-primary" onclick="findDrug()">Search</button><br>  
                    <button class="my-1 btn btn-sm btn-primary" onclick="getAllDrugs()">Show all drugs</button>
                </form>
                

                <table class="table table-striped">
                    <!-- <table class="table table-striped"> -->
                    <thead id= 'all'>
                        
                        
                    </thead>
                </table>
            </div> <!-- main & col -->
        </div> <!-- row -->
        <div id="test">

        </div>
        <div id="prescribe_drug" v-show="prescribed">
            <h3>Prescribe Drugs</h3>
            <table class="table table-striped" v-if="hasDrugs">
                <!-- <table class="table table-striped"> -->
                <thead>
                    <tr>
                      <th>clinicId</th>
                      <th>drugName</th>
                      <th>quantity</th>
                    </tr>
                    <tr>
                      <td>{{ drug.clinicId }}</td>
                      <td>{{ drug.drugName }}</td>
                      <td>{{ drug.quantity }}</td>
                    </tr>
                </thead>
            </table>
            <div class="text-success" v-if="prescribeSuccessful">
                The drug has been successfully prescribed! <br>
                <br>
            </div>
            <div class="text-danger" v-else>
                There is a problem with placing this order, please check with the store for more
                details.<br>
                <br>
            </div>
            <button @click="prescribed = false; prescribeSuccessful = false"
                class="btn btn-primary">Return to home
                page</button>
        </div> <!-- place order -->
    </div> <!-- app: container -->

    <script>
        const drug_URL ="http://localhost:5007/drug"
        const prescribeDrug_URL ="http://localhost:5120/create_record"
        //time date
        var today = new Date()
        var currTime =today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds()
        var currDate =today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()
        document.getElementById('time').placeholder = currTime
        document.getElementById('date').placeholder = currDate


        //functions
        async function getAllDrugs(){
            const response =
                        await fetch(drug_URL)
                            .then(response => response.json())
                            .then(data => {
                                console.log(data.data.drug)
                                result =JSON.parse(JSON.stringify(data.data.drug))
                                message_str =  `<tr>
                                    <th>clinicId</th>
                                    <th>drugName</th>
                                    <th>quantity</th>
                                    <th>prescribed quantity</th>
                                </tr>`
                                console.log(result)
                                for (const drug of result) {
                                    message_str += `
                                    <tr>
                                        <td>
                                            ${drug['clinicId']}
                                        </td>
                                        <td>
                                            ${drug['drugName']}
                                        </td>
                                        <td>
                                            ${drug['quantity']}
                                        </td>
                                        <td>
                                            <form>
                                              <input type="number" id="${drug['drugName']},quantity" name="quantity" step=5>
                                            </form>
                                        </td>
                                            <td><button type="button"
                                            class="btn btn-primary" id="${drug['drugName']}" onclick="prescribe_drug(this)">Prescribe</button>
                                        </td>
                                    </tr>`
                                    //
                                }
                                document.getElementById('all').innerHTML = message_str

                                return data.data.drug
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(error);

                            });
        }
        getAllDrugs()

        async function findDrug(){
            var drugName = document.getElementById('drugName').value
            console.log(drugName)
            const response =
                        await fetch(`${drug_URL}/1/${drugName}`)
                            .then(response => response.json())
                            .then(data => {
                                console.log(data)
                                result =JSON.parse(JSON.stringify(data.data))
                                message_str =  `<tr>
                                    <th>clinicId</th>
                                    <th>drugName</th>
                                    <th>quantity</th>
                                    <th>prescribed quantity</th>
                                </tr>`
                                console.log(result)
                                
                                message_str += `
                                <tr>
                                    <td>
                                        ${result['clinicId']}
                                    </td>
                                    <td>
                                        ${result['drugName']}
                                    </td>
                                    <td>
                                        ${result['quantity']}
                                    </td>
                                    <td>
                                        <form>
                                            <input type="number" id="${drug['drugName']},quantity" name="quantity" step=5>
                                        </form>
                                    </td>
                                        <td><button type="button"
                                        class="btn btn-primary" id="${result['drugName']}">Prescribe</button>
                                    </td>
                                </tr>`
                                    
                                
                                document.getElementById('all').innerHTML = message_str

                                return data.data.drug
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(error);

                            });
        }

        async function prescribe_drug(item){
            var nric = document.getElementById("nric").value
            var time = currTime
            var date = currDate
            var clinicId = 1
            var drugName = item.id
            var prescribeQuantity = parseInt(document.getElementById(drugName+",quantity").value)
            console.log([nric, time, date, clinicId, drugName, prescribeQuantity])
            await fetch(prescribeDrug_URL,{
                method: 'POST',
                body: {"nric": nric,"clinicId": clinicId,"drugName":drugName,"prescribeQuantity":prescribeQuantity,"date":date,"time":time}
            })
                
        }
 
        const app = Vue.createApp({
            computed: {
                hasDrugs: function () {
                    return this.drugs.length > 0;
                }
            },
            data() {
                return {
                    drugName: "",
                    drugs: [],
                    message: "There is a problem retrieving books data, please try again later.",
                    clinicId: "",
                    drugName: "",
                    quantity: "",
                    restockStatus: "",
                    supplierName: "",
                    supplierEmail: "",
                    reorderQuantity: "",
                    prescribedQuantity: 0,
                    prescribedDrugs: "",
                    prescribed: false,
                    prescribeSuccessful: false,
                    date: "",
                    time: "",
                    nric: ""                
                };
            },
            methods: {
                getAllDrugs () {
                    // on Vue instance created, load the book list
                    const response =
                        fetch(drug_URL)
                            .then(response => response.json())
                            .then(data => {
                                console.log(response);
                                if (data.code === 404) {
                                    // no book in db
                                    this.message = data.message;
                                } else {
                                    this.books = data.data.drug;
                                }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(this.message + error);

                            });

                },
                
                findDrug () {
                    console.log(this.drugName);
                    const response =
                        fetch(`${drug_URL}/1/${this.drugName}`)
                            .then(response => response.json())
                            .then(data => {
                                console.log(response);
                                if (data.code === 404) {
                                    // no book in db
                                    this.message = data.message;
                                    this.drugs = [];
                                } else {
                                    this.drugs = [data.data];
                                }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(this.message + error);

                            });

                },
                prescribeDrug(drug){
                  this.prescribedDrugs = drug;
                  fetch(prescribeDrug_URL,
                        {
                            method: "POST",
                            headers: {
                                "Content-type": "application/json"
                            },
                            body: JSON.stringify(
                                {
                                    "nric": this.nric,
                                    "clinicId": this.clinicId,
                                    "drugName": this.drugName,
                                    "prescribedQuantity": this.prescribedQuantity,
                                    "date": this.date,
                                    "time": this.time

                                })
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            result = data.data;
                            console.log(result);
                            // 3 cases
                            switch (data.code) {
                                case 201:
                                    // 201
                                    this.prescribeSuccessful = true;
                                    orderMessage =
                                        `Drug prescribed
                                        Prescribed:
                                        ${result.record_result.code}:${result.record_result.data.status}

                                        Drug Result:
                                        ${result.drug_result.code}:${result.drug_result.message}`;
                                    break;

                                case 400:
                                    // 400 
                                    this.prescribeSuccessful = true;
                                    orderMessage =
                                        `Drug prescribed
                                        Prescribed:
                                        ${result.order_result.code}:${result.order_result.data.status}

                                        Drug Result:
                                        ${result.drug_result.code}:${result.drug_result.message}
`;
                                    break;
                                case 500:
                                    // 500 
                                    prescriptionMessage =
                                        `Order placed with error:
                                        Order Result:
                                        ${result.order_result.code}:${result.order_result.message}`;
                                    break;
                                default:
                                    orderMessage = `Unexpected error: ${data.code}`;
                                    console.log(`Unknown error code : ${data.code}`);
                                    break;

                            } // switch
                            console.log(prescriptionMessage);
                            this.prescribed = true;
                        })
                        .catch(error => {
                            console.log("Problem in placing an order. " + error);
                        })
              
                }
            },
            created () {
                // on Vue instance created, load the book list
                this.getAllDrugs();
                
            }
        });
        const vm = app.mount('#app');
    </script>

    <!-- Bootstrap Javascript -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
        crossorigin='anonymous'>
    </script>

</body>

</html>